* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 200;
  }

  
  .panel1 {
    background-image: url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500);
  }

  .panel2 {
    background-image: url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500);
  }

  .panel3 {
    background-image: url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d);
  }

  .panel4 {
    background-image: url(https://source.unsplash.com/ITjiVXcwVng/1500x1500);
  }

  .panel5 {
    background-image: url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500);
  }

  .panels {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }

  .panel {
    color: white;
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: all 0.7s cubic-bezier(0.15, 2.05, 0.25, 1);

  }

  .panel>p {
    font-size: 1.5rem;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    transition: transform 0.7s cubic-bezier(0.15, 2.05, 0.25, 1);;

  }

  .panel> p:nth-child(2) {
    font-size: 2rem;
  }

  .panel>p:first-child {
    transform: translateY(-100%);
  }

  .open-active>p:first-child{
    transform: translateY(0);
  }

  .panel>*:last-child {
    transform: translateY(100%);
  }

  .open-active>*:last-child{
    transform: translateY(0);
  }

  .panel.open {
    flex: 5;
  }
